@import '../../../assets/variables';

.head {
   width: 60%;


   margin: 300px;

   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;

   color: $third;
   background-color: rgb(50, 65, 104);

   border-radius: 30px;

   font-size: 40px;
}