@import '../../../../assets/variables';

.table__section {
   padding: 5px;
   margin: 0;

   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;

   color: rgb(220, 220, 220);
   background-color: $secondary;
   border-radius: 30px;
   border-bottom-left-radius: 5px;

   cursor: pointer;

   > span {
      padding: 10px 20px 20px 10px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      background-color: #393c43;
      border-radius: 25px;

      > h3 {
         color: rgb(185, 185, 185);
         text-transform: capitalize;
      }

      > p {
         font-size: 18px;
      }

      &:first-child {
         padding: 0;
         justify-self: stretch;
         align-self: stretch;
         
         background-color: rgb(236, 236, 236);

         border-top-left-radius: 25px;
         border-top-right-radius: 5px;
         border-bottom-left-radius: 5px;
         border-bottom-right-radius: 25px;

         > h3 {
            color: $third;
            font-size: 20px;
         }
      }
   }
}