@import '../../../assets/_variables';

header {
   height: 70px;
   background-color: #20232a;

   .container {
      margin: 0 auto;
      max-width: 1000px;
      height: 100%;

      display: flex;
      align-items: center;
      gap: 10%;

      .logo {
         a {
            padding: 5px 15px;
            height: 40px;

            display: flex;
      
            text-align: center;
            justify-content: center;
            align-items: center;

            background-color: rgb(244, 244, 244);
            border-radius: 25px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            text-decoration: none;
         }

         h2 {
            // background: linear-gradient(to right, $third, rgb(255, 255, 255));
            color: $third;
         }
      }
   }

   nav {
      ul {
         padding: none;

         display: flex;
         align-items: center;
         gap: 50%; 

         list-style: none;

         li {
            padding-bottom: 5px;
            transition: all 0.2s ease-in-out;
            border-bottom: 2px solid rgba(255, 255, 255, 0);

            a {
               font-size: 16px;
               color: rgb(255, 255, 255);
               text-decoration: none;
            }
         }

         .activePage {
            transition: all 0.2s ease-in-out;
            border-bottom: 2px solid $third;
         }
      }
   }
}