@import '../../../assets/_variables';

header {
   height: 70px;
   background-color: #20232a;

   .container {
      margin: 0 auto;
      max-width: 1000px;
      height: 100%;

      display: flex;
      align-items: center;
      gap: 10%;

      .logo {
         padding: 0 2% 0 2%;
         height: 100%;

         display: flex;
    
         text-align: center;
         justify-content: center;
         align-items: center;

         background-color: #282c34;
         border-top-right-radius: 15px;
         border-top-left-radius: 15px;

         .bg div {
            display:inline-block;
            border-radius: 10px;
            background: black;
            width:50px;
            text-align: center;
            color:red
         }

         .bg div.select {
            background: white;
         }

         .bg {
            padding: 10px 0;
            width:150px;
            background: linear-gradient(to top, white 50%, black 50%)
         }

         h2 {
            // background: linear-gradient(to right, $third, rgb(255, 255, 255));
            color: $third;
         }
      }
   }

   nav {
      ul {
         padding: none;

         display: flex;
         align-items: center;
         gap: 50%; 

         list-style: none;

         li {
            a {
               font-size: 16px;
               color: rgb(255, 255, 255);
               text-decoration: none;
            }
         }
      }
   }
}