@import '../../../assets/_variables';

.loading {
   margin-top: 25vh;
   color: rgb(220, 220, 220);
}

.container {
   width: 100%;
   height: 100%;

   .wrapper {
      padding: 0 2%;
      margin: 40px auto;
      max-width: 1000px;

      > h2 {
         margin-top: 40px;
         margin-bottom: 40px;
         
         text-align: center;
         
         color: rgb(255, 255, 255);
      }

      button:hover {
         color: rgb(130, 215, 255);
         background-color: #000000;
         scale: 1.009;
         transition: 0.2s;
      }

      button:not(hover) {
         transition: 0.2s;
      }
   }
}

.modal {
   position: fixed;
   top: calc(50% - 116px);
   left: calc(50% - 316px);

   padding: 15px;
   width: 600px;
   height: 300px;

   opacity: 95%;

   display: grid;
   grid-template-columns: 1fr;

   border-radius: 20px;

   border: 2px solid rgb(255, 255, 255);
   background-color: $secondary;

   > button {
      position: absolute;
      top: 1%;
      left: 94%;

      background: none;
      border: none;

      cursor: pointer;
   }


   > h3 {
      margin-top: 10px;
      margin-bottom: 10px;

      display: flex;
      justify-content: center;

      color: rgb(240, 240, 240);
   }

   > span {
      margin-bottom: 10px;

      display: grid;
      grid-template-columns: 1fr 1fr;

      border-bottom: 1px solid rgb(220, 220, 220);

      &:last-child {
         margin-bottom: 0;
      }

      > h4 {
         color: rgb(220, 220, 220);
      }

      > p {
         text-align: end;
         color: rgb(220, 220, 220);
         font-size: 18px;
      }
   }

   @media screen and (max-width: 700px) {
      top: calc(50% - 136px);
      left: calc(50% - 261px);

      padding: 10px;
      width: 500px;
      height: 250px;

      border-radius: 15px;

      h3 {
         font-size: 18px;
      }
      
      > span > h4 {
         font-size: 16px;
      }

      > span > p {
         font-size: 16px;
      }
   }

   @media screen and (max-width: 550px) {
      top: calc(50% - 133px);
      left: calc(50% - 208px);

      padding: 7px;
      width: 400px;
      height: 250px;

      border-radius: 12px;

      > button {
         left: 92%;
      }

      h3 {
         font-size: 16px;
      }
      
      > span > h4 {
         font-size: 14px;
      }

      > span > p {
         font-size: 14px;
      }
   }

   @media screen and (max-width: 450px) {
      top: calc(50% - 129px);
      left: calc(50% - 159px);

      padding: 3px;
      width: 310px;
      height: 250px;

      border-radius: 8px;

      > button {
         left: 90%;
      }

      h3 {
         font-size: 14px;
      }
      
      > span > h4 {
         font-size: 12px;
      }

      > span > p {
         font-size: 12px;
      }
   }

      @media screen and (max-width: 340px) {
      top: calc(50% - 129px);
      left: calc(50% - 139px);

      padding: 3px;
      width: 270px;
      height: 250px;

      border-radius: 5px;

      > button {
         left: 88%;
      }
   }
}