@import '../../../assets/_variables';

footer {
   padding: 20px 0 30px 0;
   background-color: rgb(2, 2, 2);

   .container {
      padding: 0 2%;
      margin: 0 auto;
      max-width: 1000px;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;


      .about {
         display: flex;
         flex-direction: column;
         gap: 10px;

         h3 {
            color: $third;
            text-align: center;
         }

         p {
            color: rgb(255, 255, 255);
         }
      }

      .links {
         display: flex;
         flex-direction: column;
         gap: 10px;
         
         h3 {
               color: $third;
               text-align: center;
            }
         
         ul {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 0;
            list-style: none; 

            gap: 40%;
            margin-top: 15px;
         }
      }

      .contacts {
         display: flex;
         flex-direction: column;
         gap: 10px;

         h3 {
            color: $third;
            text-align: center;
         }

         ul {
            padding: 0;
            list-style: none;

            li {
               margin-top: 5px;
               color: rgb(255, 255, 255); 
                           
               &:first-child {
                  margin-top: 0;
               }

               a {
                  text-decoration: none;
                  color: rgb(220, 220, 220)
               }
            }
         }
      }

      @media screen and (max-width: 800px) {
         grid-template-columns: 1fr;
         gap: 20px;

         > .about > p {
            text-align: center;
         }
      }
   }
}