#root {
   margin: 0 auto;
      height: 100%;;

}

main {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 1 0 auto;
   background-color: #282c34;
}

footer {
   flex: 0 0 auto;
}

h1 {
   display: none;
}

button {
   border: 1px solid black;
}



