#root {
   margin: 0 auto;
}

.App {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.main {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 1 0 auto;
}

.home-page {
   width: 100%;
   height: 100%;

}

footer {
   flex: 0 0 auto;
}

/* h2 {
   padding-top: 60px;

   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
} */

button {
   border: 1px solid black;
}
