#root {
   margin: 0 auto;
      height: 100%;;

}

main {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 1 0 auto;
   background-color: #282c34;
}

footer {
   flex: 0 0 auto;
}

h1 {
   visibility: hidden;
}

button {
   border: 1px solid black;
}

h2, h3, h4, p, img, a {
   animation-name: appearance;
   animation-duration: 0.7s;
   animation-iteration-count: 1;
}

@keyframes appearance {
   0% {
      opacity: 0;
   }
   80% {
      opacity: 0.5;
   }
   100% {
      opacity: 1;
   }
}


